body {
    margin: 0;
    font-family: Arial, sans-serif;
  }
  
  header {
    background-color: #1DB954;
    color: #fff;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  nav li {
    margin-right: 20px;
  }
  
  nav a {
    color: #fff;
    text-decoration: none;
  }
  
  main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  h2 {
    margin-top: 0;
  }
  
  
  .playlist {
    display: flex;
    margin-bottom: 20px;
  }
  
  .playlist img {
    margin-right: 10px;
  }
  
  ol {
    margin: 0;
    padding: 0;
    list-style-type: decimal;
    margin-left: 20px;
  }
  
  form label {
    display: block;
    margin-top: 10px;
  }
  
  textarea {
    width: 100%;
    height: 100px;
    border: 1px solid #ccc;
    padding: 10px;
    box-sizing: border-box;
    margin-bottom: 10px;
  }
  
  .rating {
    display: inline-block;
  }
  
  .rating input {
    display: none;
  }
  
  .rating label {
    display: inline-block;
    margin-right: 5px;
    color: #aaa;
    font-size: 30px;
    cursor: pointer;
  }
  
  .rating {
    float: left;
    height: 46px;
    padding: 0 10px;
  }
  .rating:not(:checked) > input {
    position:absolute;
    top:-9999px;
  }
  .rating:not(:checked) > label {
    float:right;
    width:1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:30px;
    color:#ccc;
  }
  
  .rating > input:checked ~ label {
    color: #1DB954;    
  }
  .rating:not(:checked) > label:hover,
  .rating:not(:checked) > label:hover ~ label {
    color: #1DB954;  
  }
  .rating > input:checked + label:hover,
  .rating > input:checked + label:hover ~ label,
  .rating > input:checked ~ label:hover,
  .rating > input:checked ~ label:hover ~ label,
  .rating > label:hover ~ input:checked ~ label {
    color: #1DB954;
  }
  
  
  /* CSS */
  .button-5 {
    align-items: center;
    background-clip: padding-box;
    background-color: #1DB954;
    border: 1px solid transparent;
    border-radius: .25rem;
    box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
    width: 100px;
    height: 50px;
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 16px;
    font-weight: 600;
    justify-content: center;
    line-height: 1.25;
    margin: 0;
    min-height: 3rem;
    padding: calc(.875rem - 1px) calc(1.5rem - 1px);
    position: relative;
    text-decoration: none;
    transition: all 250ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
  }
  
  .button-5:hover,
  .button-5:focus {
    background-color: #1e9c4a;
    box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  }
  
  .button-5:hover {
    transform: translateY(-1px);
  }
  
  .button-5:active {
    background-color: #1e9c4a;
    box-shadow: rgba(0, 0, 0, .06) 0 2px 4px;
    transform: translateY(0);
  }